<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Execution</title>
    <link href={{url_for('static', filename='css/output.css')}} rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  </head>

  <body class="bg-[#171717] text-[#FFFFFF] font-poppins">
    <div class="text-center flex flex-col items-center mt-5 mb-16">
      <img src={{ url_for('static', filename='assets/logo.png')}} alt="Hyperzod" class="w-[450px] mb-24" />
      <h1 class="text-2xl font-semibold">On-Demand Test Runner</h1>
    </div>

    <form action="/execute" method="post" class="flex flex-col items-center">
      <div class="form-group flex flex-col text-black mb-8">
        <label for="service" class="text-[#FFFFFF] mb-3">Test Module</label>
        <select class="form-control w-[500px]" id="service" name="service">
          <option value="">--Select--</option>
          <!-- Blank default option -->
          {% for service in services.keys() %}
          <option value="{{ service }}">{{ service }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group flex flex-col text-black mb-14">
        <label for="test" class="text-[#FFFFFF] mb-3">Test Suites</label>
        <select class="form-control w-[500px]" id="test" name="test">
          <!-- Comment this after styling-->
          <option value="">--Select--</option>
          <!-- Options will be populated by JavaScript -->
        </select>
      </div>

      <div class="flex gap-6">
        <button
          type="submit"
          class="bg-[#4861E3] hover:bg-[#] text-white py-1 px-8 rounded"
        >
          Run
        </button>
        <button
          type="button"
          class="bg-[#2ABD76] hover:bg-[#24A467] text-white py-1 px-6 rounded"
          id="sendReportBtn"
        >
          Send Report
        </button>
      </div>
    </form>
  </body>

  <script>
        $(document).ready(function() {
            var services = {{ services | tojson }};

            $('#service').change(function() {
                var selectedService = $(this).val();
                var $testDropdown = $('#test');
                $testDropdown.empty(); // Clear the existing options

                // Check if the selected service has tests
                if (services[selectedService]) {
                    // Populate the second dropdown with the tests for the selected service
                    services[selectedService].forEach(function(test) {
                        $('<option>').val(test).text(test).appendTo($testDropdown);
                    });
                }
            });
        });
        // Handle click event for the send report button
        $('#sendReportBtn').click(function() {
        // Make an AJAX request to the Flask route to send the report
        $.post('/send_report', function(data) {
            // Display the result of the report sending operation
            alert(data);
        });
    });
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
</html>
